.account-container {

    max-width: 560px;
    margin: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;

    .account-content {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        padding: 20px;
        border-radius: 5px;

        line-height: 1.6;


    }


    .account-purchase-details {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;



        padding: 20px;


    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #0000007e;
        justify-content: center;
        align-items: center;


        .modal-content {
            margin: 0 auto;
            width: 360px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            animation-name: modalopen;
            animation-duration: .5s;


        }

        .modal-header h2,
        .modal-footer h3 {
            margin: 0;
        }

        .modal-header {

            padding: 0 15px;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            cursor: pointer;
        }

        .modal-body {
            padding: 10px 20px;
            background-color: #fff;

            input {
                width: 300px
            }
        }

        .modal-footer {
            background-color: #fff;
            padding: 10px;
            color: #fff;
            text-align: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .close {
            color: #ccc;
            float: right;
            font-size: 30px;
            color: #fff;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

//modal update