 ////////////////////////////////
 /// 
 /// 
 ///  
 .admin-users-page {

     *:before,
     *:after {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }

     body {
         background: #105469;
         font-family: 'Open Sans', sans-serif;
     }

     .hide {
         display: none;
     }

     .show {
         display: flex;
     }

     .code-form-container {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         background-color: #012b396c;
         height: 100%;
         justify-content: center;
         align-items: center;

         .code-form {

             z-index: 1;
             width: 330px;
             // margin: 60px auto 10px;
             padding: 20px;
             height: 430px;

             input,
             textarea {
                 padding: 10px;
                 background-color: #fff;
                 width: 300px;
             }

             .btn {
                 width: 100%;
                 color: #fff;
                 text-align: center;
             }
         }
     }

     .table-container {
         padding: 10px;
         min-width: 1300px;
         margin: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         // overflow: auto;

     }

     table {
         background: #012B39;
         border-radius: 0.25em;
         border-collapse: collapse;
         margin: 1em;
         width: 100%;
         cursor: pointer;
     }

     th {
         border-bottom: 1px solid #364043;
         color: #E2B842;
         font-size: 0.85em;
         font-weight: 600;
         padding: 0.5em 1em;
         text-align: left;


     }

     tbody tr td:first-child {




         .btn {
             font-size: 11px;
         }

     }


     .copy-code {
         padding: 2px 4px;
         word-break: normal;
     }

     .copy-message {
         display: none;
         position: absolute;
         margin-top: -55px;
         margin-left: 45px;

         background-color: #000;
         padding: 5px;
         border-top-right-radius: 10px;
         border-top-left-radius: 10px;
         border-bottom-right-radius: 10px;
     }



     td {

         border-bottom: .5pt solid rgb(81, 100, 110);
         color: #fff;
         font-weight: 400;
         padding: 0.65em .5em;
         word-break: break-all;
         font-size: 12px;




     }

     .action {

         .btn {
             text-align: center;

             cursor: pointer;
             display: block;
             padding: 4px 4px;
             color: #fff;
             font-size: 11px;
             word-break: normal;
             margin-bottom: 5px;
         }



     }


     .disabled td {
         color: #4F5F64;
     }

     tbody tr {
         transition: background 0.25s ease;


     }

     tbody tr:hover {
         background: #014055;
     }
 }