.admin-templates-container{
    margin: 10px;
    label{
        font-size: .9rem;
    }
  
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    input[type= 'text']{
        background-color: #fff;
        margin: 0;
 
    }

    input[type="file"] {
        display: none;
    }
    
    .custom-file-upload {
        border: 1px solid #ccc;
        background-color: #fff;

        display: inline-block;
        font-size: .8rem;
        padding: 4px 12px;
        cursor: pointer;
    
    }
}