.admin-templates-container {
    padding-top: 20px;


    .admin-templates {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        overflow: hidden;


        img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 10ch;
        }
    }

    .delete-template-btn {
        display: inline-block;
        padding: 5px;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: $light-color;
        font-weight: 700;
        font-size: 13px;
        transition: all 0.2s ease-in;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
    }

    .delete-template-btn:hover {
        background-color: lighten($light-color, 5%)
    }

    .template-container {
        position: relative;
    }

    .option {
        position: absolute;
        right: 0;
        bottom: 5px;
        cursor: pointer;

    }



    .not-live {
        right: 0px;
        top: 0;
        position: absolute;
        padding: 0 5px;
        background-color: $danger-color;
        color: #fff;
        font-weight: bold;

        span {
            font-size: 20px;
            margin-top: 5px;
        }
    }

    .live {
        right: 0px;
        top: 0;
        position: absolute;
        padding: 0 5px;
        background-color: $success-color;
        color: #fff;
        font-weight: bold;


    }

    .option-container {
        display: none;
        background-color: #ccc;
        padding: 3px 5px;
        position: absolute;
        right: 22px;
        bottom: 0;
        z-index: 1;
        margin: 0;

        .opt-list {
            padding: 0;
            margin: 0;
        }

        .opt-list:hover {
            background-color: #e2e2e2;
            cursor: pointer;

        }



    }

    .container {
        width: 100%;
        height: 100%;
        background-color: rgba(248, 248, 248, 0);
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        display: none;
    }

    label {
        font-size: .9rem;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    input[type='text'] {
        background-color: #fff;
        margin: 0;
        width: 400px;
        height: 40px;
    }



    .custom-file-upload {
        border: 1px solid #ccc;
        background-color: #fff;
        width: 100%;
        gap: 5px;
        font-size: .8rem;
        padding: 7px 12px;
        cursor: pointer;

    }

    //baclground
    #modal-container-add-background-page-templates {

        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #0000007e;
        justify-content: center;
        align-items: center;


        .modal-content {
            margin: 0 auto;
            width: 560px;
            height: 450px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            animation-name: modalopen;
            animation-duration: .5s;
            background-color: #fff;

            .modal-header,
            .modal-body {
                padding: 10px
            }

            .modal-body {
                display: flex;
                justify-content: flex-start;
                gap: 10px;
                padding: 10px;
                flex-wrap: wrap;


                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 7px;

                    .btn {
                        padding: 3px 6px;
                    }
                }
            }
        }




    }
}