.admin-templates-container {
    padding-top: 20px;


    .admin-templates {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        overflow: hidden;


        img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 15ch;
            font-size: 15px;
        }
    }

    .delete-template-btn {
        display: inline-block;
        padding: 5px;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: $light-color;
        font-weight: 700;
        font-size: 13px;
        transition: all 0.2s ease-in;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
    }

    .delete-template-btn:hover {
        background-color: lighten($light-color, 5%)
    }

    .template-container {
        position: relative;
    }





    .not-live {
        right: 0px;
        top: 0;
        position: absolute;
        padding: 0 5px;
        background-color: $danger-color;
        color: #fff;
        font-weight: bold;

        span {
            font-size: 20px;
            margin-top: 5px;
        }
    }

    .live {
        right: 0px;
        top: 0;
        position: absolute;
        padding: 0 5px;
        background-color: $success-color;
        color: #fff;
        font-weight: bold;


    }

    .option {

        position: absolute;
        bottom: -7px;
        right: 0;

        img {
            cursor: pointer;
        }

        .container {
            width: 100%;
            height: 100%;
            background-color: rgba(248, 248, 248, 0);
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            margin: 0;
            display: none;
        }



        .option-list-container {
            display: none;
            background-color: #ccc;

            position: absolute;
            right: 22px;
            bottom: 6px;
            z-index: 1;
            width: 100px;

            .opt-list {
                padding: 0;
                margin: 0;
                cursor: pointer;
                padding: 0 5px;
                font-size: 13px;
            }

            .opt-list:hover {
                background-color: #e2e2e2;


            }



        }
    }




    label {
        font-size: .9rem;
    }






    input[type='text'] {
        background-color: #fff;
        margin: 0;
        width: 400px;
        height: 40px;
    }



    .custom-file-upload {
        border: 1px solid #ccc;
        background-color: #fff;
        width: 100%;
        gap: 5px;
        font-size: .8rem;
        padding: 7px 12px;
        cursor: pointer;

    }


}