//page
.canvas-background-container {
    user-select: none;

    .form-background {

        margin: 10px 0;

        form {
            width: 600px;

            input[type='text'] {
                width: 600px;
            }

            textarea {
                width: 100%;
                resize: none;
                height: 200px;
            }
        }
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }


    .background-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }


    .modal-edit-background {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        user-select: none;
        background-color: #fff;
        flex-direction: column;


        .modal-header {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            margin: 5px 0;



            span {
                font-size: 24px;

            }

            .close {
                color: #fff;
                cursor: pointer;
            }


        }

        .modal-content {
            margin: 10px 10px 0;

            .content {
                display: flex;
                justify-content: center;
                align-items: start;

                margin: 0 10px;

                input {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                    padding: 0 .3rem;
                    font-size: .9rem;
                    border: 1px solid #ccc;
                    resize: none;
                    height: 200px;
                    color: #333;

                }

                textarea:focus {
                    border: 1px solid #048a9e;
                    outline: none;
                    transition: all 0.2s ease-in;
                    border-radius: 5px;


                }
            }

            .content>.img-container {
                flex: 6;
            }

            .content>.details-container {
                flex: 5;
            }

            img {

                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            }
        }


    }

}

//add background
#modal-container-add-background {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #0000007e;
    justify-content: center;
    align-items: center;


    .modal-content {
        margin: 0 auto;
        width: 760px;
        height: 500px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: .5s;
        background-color: #fff;

        .modal-header,

        .modal-body {
            padding: 10px
        }

        .modal-body {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            padding: 10px;
            flex-wrap: wrap;


            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 7px;

                .btn {
                    padding: 3px 6px;
                }
            }
        }
    }




}