.canvas-background-container {

    form {
        width: 600px;

        input[type='text'] {
            width: 600px;
        }

        textarea {
            width: 100%;
            resize: none;
            height: 200px;
        }
    }


}