//page
.canvas-background-container {
    user-select: none;

    .form-background {

        margin: 10px 0;

        form {
            width: 600px;

            input[type='text'] {
                width: 600px;
            }

            textarea {
                width: 100%;
                resize: none;
                height: 200px;
            }
        }
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }


    .background-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }


}