.contact-container {

    max-width: 360px;
    margin: auto;
    padding: 20px;


    .contact-content {
        padding: 20px;
        border-radius: 5px;
        font-size: .9rem;
        line-height: 1.6;
        font-family: 'Poppins', sans-serif;

        span {
            font-size: 30px;

        }

    }
}