





//landing

.landing {
   
    // background: url('https://source.unsplash.com/P2SkP_PXhlU') no-repeat center center/cover;
    background:#fcffd8;
    min-height: 600px;

    &-inner {
        color: #333;
        height: 50%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
   
    }
}
//guset landing inner
.guest-landing-inner{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    gap: 20px;
    width: 100%;
    padding-top: 50px;
    
}
.guest-message-container{
    flex:60%;
    padding: 0 10px;
}
.form-container{
    flex:40%;
    width: 100%;


.register-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
  
}

@media (max-width: 768px) {
    .guest-landing-inner{
  
        flex-direction: column;
        .form-container{
            width: 100%;
        }
    }
  .display-3 {font-size: 2.5rem}
}
