.header-guest-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    h4 a{
        color: #fff;
    }

    .header-guest-btn-container{
        display: flex;
        justify-content: center;

     
     input{
    margin-left: 10px;
    color: #333;
}
    }

}
//guset landing inner
.guest-landing-inner{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    gap: 20px;
    width: 100%;
    padding-top: 50px;
    
}
.guest-message-container{
    flex:60%;
    padding: 0 10px;
}
.form-container{
    flex:40%;
   


.register-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
  
}

@media (max-width: 768px) {
    .guest-landing-inner{
  
        flex-direction: column;
        .form-container{
            width: 100%;
        }
    }
  .display-3 {font-size: 2.5rem}
}