.lds-spinner-container-generate {
  // background-color: $dark-color;
  background-color: #151e29d7;

  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  animation-name: modalopen;

  @keyframes modalopen {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .text-container {
    text-align: center;
    margin: auto;
    background-color: #FFF;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
  }

  .loader {
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;



  }


  // animation-duration: 3s;
}


.lds-spinner-container-saving-json {
  // background-color: $dark-color;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  animation-name: modalopen;

  @keyframes modalopen {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .text-container {


    width: 200px;
    margin-top: 45px;
    margin-left: 10px;

    letter-spacing: 1px;

  }

  .loader {

    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #fff;
    text-align: center;


  }


  // animation-duration: 3s;
}


.lds-spinner-container {
  background-color: $dark-color;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  opacity: .8;
  animation-name: modalopen;
  // animation-duration: 3s;

  @keyframes modalopen {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .loader {
    color: #FFF;
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  .loader::after {
    content: '';
    width: 3px;
    height: 3px;
    background: currentColor;
    position: absolute;
    bottom: 5px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }

  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }

    50% {
      box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
    }

    100% {
      box-shadow: 10px 0 white, 20px 0 white;
    }
  }
}