@import 'config';
@import 'utilities';
@import 'header';
@import 'landing_page';
@import 'success_registration.scss';
@import 'contact';
@import 'form';
@import 'account';
@import 'footer';
@import 'loader';
@import 'admin_templates';
@import 'modal-view-template.scss';
@import 'my_templates';
@import 'templates';
@import 'modal-edit-template-admin';
@import 'background';
@import 'admin-users';
@import '_submit-code-form.scss';
@import '_home-dashboard.scss';

@import 'expired_modal.scss';








* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;



}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


a {

  text-decoration: none;
  color: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  width: 100%;
  transition: all .5s;

}



/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(75, 75, 75, 0.712)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(72, 127, 133);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 89, 88);
}

::-webkit-scrollbar-corner {
  background-color: rgba(75, 75, 75, 0.712)
}