<%- include('../include/admin-header') %>
    <div class="admin-templates-container" style="min-height: 400px;">
        <div class="btn btn-sm btn-success">+ add Templates</div>
    </div>
    <%- include('../include/footer') %>