<%- include('../include/admin-header') %>
    <div class="bg-white">
        <div class="admin-templates-container" style="min-height: 400px;">
            <h2>Background</h2>
        </div>
    </div>
    <%- include('../include/footer') %>