#modal-container-add-background {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #0000007e;
    justify-content: center;
    align-items: center;


    .modal-content {
        margin: 0 auto;
        width: 760px;
        height: 500px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: .5s;
        background-color: #fff;

        .modal-header,
        .modal-body {
            padding: 10px
        }

        .modal-body {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            padding: 10px;
            flex-wrap: wrap;


            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 7px;

                .btn {
                    padding: 3px 6px;
                }
            }
        }
    }




}