.list-name-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.349);

  tr {


    span {

      align-items: center;
      margin-top: 10%;
      margin-left: 10px;
    }
  }

  th {
    vertical-align: middle;
    border-top: .5pt solid black;
    border-right: .5pt solid black;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;

    background-color: rgba(196, 195, 195, 0.37);
    height: 40px;
  }

  td {
    padding-top: 1px;
    text-decoration: none;
    font-family: Arial;
    padding-left: 2px;
  }

  .sequence {
    font-size: 13px;
    min-width: 37px;
    max-width: 37px;
    vertical-align: middle;
    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;
    background-color: rgba(196, 195, 195, 0.37);
  }

  .xl65 {
    color: black;
    font-size: 14px;
    min-width: 280px;
    max-width: 280px;


    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;

  }


  td:focus {


    outline: none;

  }

  .modal-header {

    width: 700px;
    margin: 10px auto 0 auto;
    padding: 10px;
  }

  .modal-content {

    padding: 10px 30px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    background-color: #fff;
    width: 700px;
    height: 450px;






    .list-names {
      overflow: auto;
      width: 700px;
      min-height: 300px;




      input {
        padding: 0 10px;
        width: 400px;
        margin: 1px 5px;
        gap: 0;
        border: 1px solid rgb(216, 213, 213);
        ;
        height: 40px;


      }

      input:focus {
        gap: 0;
        outline-width: .5px;
        outline-color: rgb(202, 200, 200);
      }


    }


  }

  .modal-footer {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }


}