.list-name-container {

  display: flex;
  transition: all .5s;

  position: fixed;
  z-index: 1;

  top: 72px;
  height: 100%;
  width: 550px;
  right: -502px;


  //butto to click to appear list of names
  .pen-icon {

    margin-top: 15px;


    .btn {
      border-radius: 12px;

    }
  }

  //end


  .tools {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f5c68;
    width: 100%;
    cursor: pointer;

    .btn {
      background-color: #1e7280;
      border-radius: 3px;
    }

  }

  .active {
    background-color: rgba(170, 228, 235, 0.712);
    transition: all .5s;
  }

  .disable {
    background-color: #d3d2d2;
    color: #4F5F64;
    transition: all .5s;
    border-right: 10px solid #d3d2d2;

  }

  table {
    margin: 5px 5px 0 5px;

  }



  .able-download {
    display: none;
    margin: 10px 7px;
    cursor: pointer;
    padding: 0;
  }

  .disable-download {
    display: none;
    margin: 10px 7px;
    cursor: pointer;
    padding: 0;

  }



  .eye-hide {
    display: none;
    cursor: pointer;
    margin: 10px 7px;
    padding: 0;

  }

  .eye-show {
    padding: 0;

    margin: 10px 7px;
    display: none;
    cursor: pointer;

  }



  th {
 

    height: 40px;
  }

  td {
 
    text-decoration: none;
    font-family: Arial;
    padding-left: 2px;
    text-align: left;
    
   
  }



  .sequence {
    font-size: 12px;
    min-width: 30px;
    max-width: 30px;

    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;


  }
  .force-reflow {
    animation: none;
  }
  .xl65 {
    transition: all .5s;
    // overflow-wrap: break-word;
    
    word-wrap: break-word;
    overflow-x: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20ch;
    // font-size: 15px;
    font-size: 12px;
    min-width: 215px;
    max-width: 215px;
    text-align: left;
    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;
    height: 40px;
  }


  td:focus {


    outline: none;

  }

  .modal-header {
    border-top: #fff 3px solid;
    background-color: #0f5c68;
    width: 550px;
    margin: 10px auto 0 auto;
    padding: 10px;
  }



  .modal-content {


    display: flex;
    margin: auto;
    flex-direction: column;


    background-color: #fff;
    width: 550px;
    height: 470px;

    padding-bottom: 20px;



    .list-names {
      overflow: auto;
      width: 550px;
      height: 500px;

      padding-bottom: 20px;
      overflow-x: hidden;



    }


  }



  .modal-header h2 {
    margin: 0;
  }


}