.list-name-container {

  display: flex;
  transition: all .5s;

  position: fixed;
  z-index: 1;

  top: 70px;
  height: 100%;
  width: 550px;
  right: -550px;




  .tools {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9dddd;
    width: 100%;


  }

  .active {
    background-color: rgba(170, 228, 235, 0.712);
    transition: all .5s;
  }

  .disable {
    background-color: rgb(204, 204, 204);
    transition: all .5s;

  }

  table {
    margin: 5px 5px 0 5px;

  }

  .able-download {
    display: none;
    margin: 10px 7px;
  }

  .disable-download {
    display: none;
    margin: 10px 7px;

  }

  .eye-hide {
    display: none;

    margin: 10px 7px;
  }

  .eye-show {
    margin: 10px 7px;
    display: none;

  }

  th {
    vertical-align: middle;
    border-top: .5pt solid black;
    border-right: .5pt solid black;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;


    height: 40px;
  }

  td {
    padding-top: 1px;
    text-decoration: none;
    font-family: Arial;
    padding-left: 2px;
    text-align: left;
  }

  .sequence {
    font-size: 12px;
    min-width: 30px;
    max-width: 30px;

    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;


  }

  .xl65 {
    transition: all .5s;
    color: black;
    font-size: 14px;
    min-width: 215px;
    max-width: 215px;
    text-align: left;
    border-top: .5pt solid black;
    border-right: none;
    border-bottom: .5pt solid black;
    border-left: .5pt solid black;
    height: 40px;
  }


  td:focus {


    outline: none;

  }

  .modal-header {

    width: 550px;
    margin: 10px auto 0 auto;
    padding: 10px;
  }



  .modal-content {


    display: flex;
    margin: auto;
    flex-direction: column;


    background-color: #fff;
    width: 550px;
    height: 470px;

    padding-bottom: 20px;



    .list-names {
      overflow: auto;
      width: 550px;
      height: 500px;






    }


  }



  .modal-header h2 {
    margin: 0;
  }


}