.insert-textbox-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  user-select: none;


  .modal-content {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    padding: 10px 10px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: #fff;
    width: 700px;
    height: 550px;

    .modal-footer {
      padding: 8px;
    }


    .menu-controller {
      width: 100%;


    }

    .list-names {

      overflow: auto;
      width: 100%;
      min-height: 340px;
      border: 1px solid rgb(206, 199, 199);


      .input-container {
        display: flex;
        margin-top: 1px;
        padding: 0 15px;
        align-items: center;

      }

      input {

        padding: 0 10px;
        width: 100%;
        margin: 1px 5px;
        gap: 0;
        border: 1px solid rgb(216, 213, 213);

        height: 40px;


      }

      input:focus {
        gap: 0;
        outline-width: .5px;
        outline-color: rgb(202, 200, 200);
      }


    }




  }


}