@import '../config';
@import '../utilities';
@import 'insert-name';
@import 'display_certificates';

@import 'photos';
@import 'print_view.scss';
@import 'background.scss';
@import 'canvas';
@import 'header';
@import 'loader';
@import 'admin-tool';


// canvas
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;

    color: #333;



}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


a {

    text-decoration: none;
    color: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {

    // display: flex;
    // flex-direction: column;

    justify-content: space-around;
    height: 100%;

    width: 100%;
    transition: all .5s;
    padding: 100px 10px 20px;

}

#canvas-background {
    display: flex;
    transition: all .5s;
    justify-content: space-around;

}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border-radius: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(75, 75, 75, 0.712)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(72, 127, 133);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(69, 89, 88);
}

::-webkit-scrollbar-corner {
    background-color: rgba(75, 75, 75, 0.712)
}