<table border="0" cellpadding="0" cellspacing="0" width="128" style="border-collapse:
collapse;width:96pt">
    <!--StartFragment-->
    <colgroup>
        <col width="64" span="2" style="width:48pt">
    </colgroup>

    <tbody>

        <tr height="17" style="height:12.75pt">
            <td height="17" width="64" style="height:12.75pt;width:48pt">asd</td>
            <td width="64" style="width:48pt">asd</td>
        </tr>

        <tr height="17" style="height:12.75pt">
            <td height="17" align="right" style="height:12.75pt">232</td>
            <td>23we</td>
        </tr>
        <tr height="17" style="height:12.75pt">
            <td height="17" style="height:12.75pt">asdd</td>
            <td>sds</td>
        </tr>
        <!--EndFragment-->
    </tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="241" style="border-collapse:
 collapse;width:181pt">
    <!--StartFragment-->
    <colgroup>
        <col width="43" style="mso-width-source:userset;mso-width-alt:1572;width:32pt">
        <col width="71" style="mso-width-source:userset;mso-width-alt:2596;width:53pt">
        <col width="62" style="mso-width-source:userset;mso-width-alt:2267;width:47pt">
        <col width="65" style="mso-width-source:userset;mso-width-alt:2377;width:49pt">
    </colgroup>

    <tbody>
        <tr height="22" style="mso-height-source:userset;height:17.1pt">
            <td colspan="4" rowspan="2" height="26" class="xl65" width="241" style="border-right:
  1.0pt solid black;border-bottom:.5pt solid black;height:20.1pt;width:181pt">ABRAHAM,REYMARK
                GEBERTAS</td>
        </tr>

        <tr height="4" style="mso-height-source:userset;height:3.0pt">
        </tr>
        <tr height="26" style="mso-height-source:userset;height:20.1pt">
            <td colspan="4" height="26" class="xl71" width="241" style="border-right:1.0pt solid black;
  height:20.1pt;width:181pt">AMADEO,HERNIE DANIEL DAMILES</td>
        </tr>
        <tr height="9" style="mso-height-source:userset;height:6.95pt">
            <td colspan="4" rowspan="3" height="26" class="xl65" width="241" style="border-right:
  1.0pt solid black;border-bottom:.5pt solid black;height:19.9pt;width:181pt">CORRO,JAN
                RYAN JR. BALUYA</td>
        </tr>
        <tr height="8" style="mso-height-source:userset;height:6.0pt">
        </tr>
        <tr height="9" style="mso-height-source:userset;height:6.95pt">
        </tr>
        <tr height="26" style="mso-height-source:userset;height:20.1pt">
            <td colspan="4" height="26" class="xl71" width="241" style="border-right:1.0pt solid black;
  height:20.1pt;width:181pt">GALGO,PHILIP VICTOR TORREGOSA</td>
        </tr>
        <tr height="4" style="mso-height-source:userset;height:3.0pt">
            <td colspan="4" rowspan="2" height="26" class="xl65" width="241" style="border-right:
  1.0pt solid black;border-bottom:.5pt solid black;height:20.1pt;width:181pt">GONZALES,JUSTINE
                JAMES CABUSAO</td>
        </tr>
        <tr height="22" style="mso-height-source:userset;height:17.1pt">
        </tr>
        <!--EndFragment-->
    </tbody>
</table>