<div class="contact-container">
  <div
    class="contact-content bg-primary p-1 gap-10 d-flex justify-content-end align-items-center"
  >
    <img src="images/phone.png" width="25" alt="" class="" />
    <span> Contact Us</span>
  </div>
</div>
