<!-- footer begins -->
<footer class="footer bg-dark">
  <p class="m-0">
    Copyright &copy; <%= new Date().getFullYear() %>
    <a href="/" class="text-muted">Quirk</a>. All rights reserved.
  </p>
</footer>
