<%- include('../include/header_link') %>

    <body>
        <header>
            <nav class="bg-primary p-1 d-flex justify-content-between cursor-pointer" style="user-select: none;">
                <h4>Admin Dashboard</h4>
                <ul>
                    <li><a href="/">website</a> </li>
                    <li><a href="/admin-templates"> Templates</a></li>
                    <li><a href="#">Users</a> </li>
                    <li>
                        <form action="/logout" method="POST" class="">
                            <input type="submit" class="btn btn-sm btn-light" value="Sign Out" />
                        </form>
                    </li>

                </ul>
            </nav>
        </header>