<!-- footer begins -->
<footer class="footer bg-dark">
  <p class="m-0">
    Copyright &copy; <%= new Date().getFullYear() %>
      <a href="/" class="text text-primary">Quirk</a>. All rights reserved.
  </p>
</footer>

<script type="module" src="javascript/script.js"></script>
</body>

</html>