<!-- submit code to subscribe -->

<div class="input-message-container ">


    <div class="expire">

        <div class="message-container-content">
            <a href="/account-page" class="text text-dark ">
                <div class="link btn btn-light btn-md text text-white">
                    Puchase here

                </div>
            </a>
            <div class="close-input-message-container">
                <span class=" close-btn ">&#x2715</span>

            </div>

            <div class="form">
                <p> To continue use this template please enter the code below. <b> Click the button above to
                        purchase a
                        code</b>.</p>
                <div class="d-flex   gap-10 ">
                    <input type="text" class="code">
                    <div class="btn btn-sm btn-success sumbit-code-btn">
                        Submit
                    </div>
                </div>

                <span class="message"></span>
            </div>
        </div>
    </div>

    <div class="limit-reach">

        <div class="message-container-content">
            <a href="/my-templates" class="text text-dark ">
                <div class="link btn btn-light btn-md text text-white">
                    Go to templates

                </div>
            </a>
            <div class="close-input-message-container">
                <span class=" close-btn ">&#x2715</span>

            </div>
            <div>
                <h4>Limit reach</h4>
                Please delete some of your created templates.


            </div>
        </div>
    </div>
</div>