<!-- submit code to subscribe -->

<div class="subscribe-message-container <%=locals.expired ? 'show' : 'hide' %>">
    <div class="message-container-content">
        <a href="/account-page" class="text text-dark puchase-href-btn">
            <div class="  close btn btn-light btn-lg  text text-white">
                Puchase here

            </div>
        </a>
        <div class="reach-limit-message-container">

        </div>
        <div class="expire-message">
            <span>Please subscribe!!!</span>
            <div class="form">
                <div class="d-flex flex-direction-column gap-10 ">
                    <input type="text" class="code">
                    <div class="btn btn-sm btn-success sumbit-code-btn">
                        Submit
                    </div>
                </div>

                <span class="message"></span>
            </div>
        </div>

    </div>
</div>