<%- include('../include/header_link') %>

  <body>
    <nav class="bg-primary">
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </label>
      <label class="text text-white title">Quirktool</label>


      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>

        <li>
          <a href="/templates" class="">Templates</a>

        </li>

        <li>
          <a href="/contact-page" class="">Contact Us</a>
        </li>
        <% if(locals.session ){ %>

          <li>

            <a href="/my-templates" class="">My Templates</a>
          </li>

          <li>
            <a href="/account-page" class="">Account</a>
          </li>
          <% if(locals.user_type=='admin' ){ %>
            <li>
              <a href="/dashboard" class="bg-dark">Dashboard</a>
            </li>
            <% } %>
              <% if(locals.user_type=='user' ){ %>
                <li>
                  <form action="/logout" method="POST" class="">
                    <input type="submit" class="btn btn-sm btn-light" value="Sign Out" />
                  </form>
                </li>
                <% } %>

                  <% }else{ %>

                    <div class="sign-btns">
                      <a href="/login-page" class="btn btn-sm btn-light"> Sign In</a>

                      <a href="/register-page" class="btn btn-sm btn-success">Sign Up</a>
                    </div>

                    <% } %>
      </ul>
    </nav>