<%- include('../include/header_link') %>

  <body>
    <nav class="bg-primary">
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </label>
      <div class="d-flex justify-content-between align-items-center gap-10 m-1">
        <div>
          <img src="images/quirk-logo.png" class="logo" width="25" alt="">

        </div>

        <label class="text text-white title">Quirktool</label>

      </div>




      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>

        <li>
          <a href="/templates" class="">Templates</a>

        </li>

        <li>
          <a href="/contact-page" class="">Contact Us</a>
        </li>
        <% if(locals.session ){ %>
          <li>
            <a href="/canvas" class="">Canvas</a>
          </li>


          <li>
            <a href="/account-page" class="">Account</a>
          </li>


          <li>
            <form action="/logout" method="POST" class="">
              <input type="submit" class="btn btn-sm btn-light" value="Sign Out" />
            </form>
          </li>


          <% }else{ %>

            <div class="sign-btns">
              <a href="/login-page" class="btn btn-sm btn-light "> Sign In</a>

              <a href="/register-page" class="btn btn-sm btn-secondary text text-white">Sign Up</a>
            </div>

            <% } %>
      </ul>
    </nav>