<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/quirk-logo.png" />
    <title>Quirk Client Side</title>

<script defer src="dist/bundle.js"></script><link href="dist/bundle.css" rel="stylesheet"></head>

<body>
    <div class="purchased-templates-container">
        <div class="content">



        </div>
    </div>


    <!-- <div class="modal-loader"></div> -->


    <!-- <div id="createCanvasModal"></div>  -->
    <!-- create modal form to create canvas -->


    <!-- header and tools -->
    <div class="header" id="myHeader">
        <div class="d-flex">
            <div class="file_name_container ">
                <span id="file_name"></span>
            </div>

            <div class="sub_header d-flex align-items-center ">



                <div class="dropdown dropdown-files files-container sub-header-tools">
                    <li class="dropbtn dropbtn-files files-btn">Canvas</li>

                    <div id="myDropdown" class="dropdown-content">

                        <a id="save_json">
                            Save <b style="float:right"> Ctrl + s </b>
                        </a>
                        <a id="reset"> Reset Canvas</a>
                        <div class="dropdown-content-container"></div>


                    </div>
                </div>

                |
                <div class="sub-header-tools">
                    <div id="canvas-image-background">Background</div>

                </div>
                |
                <div class="sub-header-tools">
                    <div id="add-photos">Photos</div>

                </div>
                |
                <div class="sub-header-tools">
                    <div id="print-view">Print View</div>

                </div>
            </div>
            <div class="zoom_and_undo_container">


                <div class="zoom-container">
                    <button id="zoomOut">&#9866;</button>
                    <span>85%</span>
                    <button id="zoomIn">&#10010; </button>
                </div>


            </div>
        </div>

        <!-- tools -->
        <div class="tools">


            <div class="superScript-container  hover">

                <img src="images/canvas/superscript.png" id="superScript">
            </div>
            <div class="dropbtn-insert-text  hover">

                <img src="images/canvas/insert-text.png" alt="" width="20">

            </div>
            <div class="text">
                <div class="text-properties">

                    <label id="fontWeight" for="bold-icon" class="hover"> <img src="images/canvas/bold-solid.png"
                            width="15" alt="" class="bold-icon">


                    </label>

                    <!-- italic -->
                    <label id="fontStyle" for="fontStyle-img" class="hover">
                        <img src="images/canvas/italic-solid.png" class="fontStyle-img" width="15" alt="" />
                    </label>

                </div>

                <div class="textAlign">


                    <!-- alignLeftText -->
                    <label for="left" class="hover">
                        <img id="left"
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4LjAzIDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+bGVmdDwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzYiIGRhdGEtbmFtZT0iTGF5ZXIgNiI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIwLjAzIiB3aWR0aD0iOCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yOCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNCIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEuOTMiIHdpZHRoPSI1Ljk3IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI0Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB5PSI2LjM4IiB3aWR0aD0iNS43NiIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjwvZz48L2c+PC9zdmc+"
                            width="15" alt="" />
                    </label>

                    <!-- alignCenterText -->
                    <label for="center" class="hover">
                        <img id="center"
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+Y2VudGVyXzE8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJjZW50ZXIiPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjQiIHdpZHRoPSI4IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI4Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIxLjEzIiB5PSIxLjkzIiB3aWR0aD0iNS43NCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMS4yMyIgeT0iNi4zOCIgd2lkdGg9IjUuNTMiIGhlaWdodD0iMC45MSIgcng9IjAuMjMiLz48L2c+PC9nPjwvc3ZnPg=="
                            width="15" alt="" />
                    </label>
                    <!-- alignRightText -->
                    <label for="right" class="hover">
                        <img id="right"
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+cmlnaHQ8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJyaWdodCI+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iOCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yOCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNCIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjIuMDMiIHk9IjEuOTMiIHdpZHRoPSI1Ljk3IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI0Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIyLjI0IiB5PSI2LjM4IiB3aWR0aD0iNS43NiIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjwvZz48L2c+PC9zdmc+"
                            alt="" width="15" />
                    </label>

                </div>
                <div class="fonts-Select-size">
                    <select id="fontFamilySelect" class="fontFamilySelect  "></select>
                    <input type="number" value="18" id="fontSize"><br>

                </div>
                <input type="color" id="fill" class="color  " value="#008080">


            </div>

            <div class="grid">
                <input type="checkbox" id="grid" />
                <label for="grid">Guide</label>
            </div>

            <div class="links d-flex justify-content-end px-1" style="width:25%;">
                <a href="/">
                    <img class="hover-opactiy" src="images/canvas/house-solid.png" style="margin-top:5px;" width="20"
                        alt="">

                </a>
            </div>

        </div>

    </div>

    <!-- insert name -->
    <span class="excel-html-view-data" style="display:none"></span>
    <div class="list-name-container">
        <div class="pen-icon"> <img id="insert-names" class="btn btn-md btn-success" alt="" width="40">
        </div>

        <div class="list-name-content">

            <div class="modal-header d-flex justify-content-between">

                <div class="d-flex">
                    <div id="selected-item-container" class="d-none ">
                        <div class="cancel-selection text text-white btn btn-sm btn-dark d-flex justifiy-content-center gap-10 "
                            style=" border-radius: 20px; padding:7px 15px;max-width: 200px;">
                            <div class="cancel-selection" style="font-size:16px">&#x2715</div>
                            <div class="cancel-selection count"></div>
                        </div>




                    </div>

                </div>



                <div class="btn btn-sm btn-primary save">
                    Save and close
                </div>
            </div>
            <div class="tools">
                <div class="d-flex ">
                    <div style="height:30px" class="btn btn-sm   ">
                        <img src="./images/canvas/uppercase.png" style="margin-top: -4px;" class="upperCase" alt="">
                    </div>
                    <div style="height:30px" class="btn btn-sm   ">
                        <img src="./images/canvas/case.png" style="margin-top: -4px;" class="sentence-case" width="23"
                            alt="">
                    </div>
                    <div style="height:30px" class=" swap-column   btn btn-sm  ">
                        <img src="images/canvas/swap.png" width="18" alt="" class="swap-column">

                    </div>
                    <div style="height:30px" class="text text-white btn btn-sm   clear-all">
                        Clear
                    </div>
                    <div style="height:30px" class=" btn btn-sm  btn-dark delete">
                        <div class="d-flex justify-content-center gap-10">
                            <span class="text text-white delete"> Delete row </span>

                            <img class="delete" src="images/canvas/trash.png" width="18">
                        </div>

                    </div>
                    <div style="height:30px" id="preview-image" class="btn btn-sm btn-success">
                        <div class="d-flex justify-content-center gap-10">
                            <span> Download</span>
                            <img src="./images/canvas/download-solid-white.png" width="18" style="margin-left:5px">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn btn-sm btn-dark select-all">Select All</div>
                </div>
            </div>
            <div class="modal-content">



                <div class="list-names">

                    <table style="border-collapse:
                         collapse; padding: 0 5px;">
                        <thead>
                            <th>

                            </th>

                            <th>
                                Column 1
                            </th>

                            <th>
                                Column 2
                            </th>

                        </thead>

                        <tbody>



                        </tbody>
                    </table>

                </div>




            </div>

        </div>

    </div>


    <!-- alert for fonts not loading -->
    <div id="notification" class="noti-close">
        <div class="content-notification noti-close">

            <div class="content-notification-details noti-close alert alert-warning">

                <div class="header-msg noti-close">
                    <b>Warning: </b>

                </div>

                <div class="message-notification noti-close">

                </div>

            </div>


        </div>

    </div>

    <!-- canvas -->
    <main>

        <div id="canvas-background">

        </div>

    </main>

    <!-- modal for adding background -->
    <div id="modal-container-add-background">
        <div class="modal-content ">
            <div class="modal-header d-flex justify-content-end">
                <span class="btn btn-sm btn-danger text text-white close">Close</span>

            </div>
            <hr>
            <div class="modal-body"></div>
        </div>
    </div>
    <!-- modal for adding user photos -->

    <div id="photos-container">

        <div class="modal-content">

            <div class="close-container ">

                <div class="close btn  btn-sm">
                    &#x2715
                </div>
            </div>
            <div class="upload-image-container">

                <input type="file" name="input_img" id="input_img">


                <div class="btn btn-primary btn-sm" id="upload_img_btn">Submit</div>
            </div>
            <div class="display-photos-container">

            </div>

        </div>


    </div>


    <div class="print-view-container">


        <div class="close">
            &#x2715
        </div>
        <img src="" id="view-image" alt="">

    </div>
    <!-- display image after generate certificate -->
    <div id="modal-container-generate-certificate">
        <div class="modal-canvas">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-end">


                    <div class="close-container bg-light p-1">
                        <div id="download_as_Zip" class="btn btn-sm btn-primary">
                            Download
                        </div>
                        <!-- <a id="printCanvas" class="btn btn-sm btn-light">Print</a> -->
                        <div>
                            <div class="btn btn-sm btn-dark close">Close</div>

                        </div>

                    </div>
                </div>
                <div class="modal-body">

                </div>


            </div>
        </div>

    </div>
    <!-- test -->
    <form id="upload-form">

        <textarea hidden id="text-input" name="text-input"></textarea>

    </form>
    <!-- loader for generating certificate-->
    <div class="lds-spinner-container-generate d-flex justify-content-center align-items-center ">
        <div class="text-container">
            <span class="loader">Loading Please wait</span>

        </div>
    </div>
    <!-- loader for saving json to database-->
    <div class="lds-spinner-container-saving-json ">
        <div class="text-container">
            <span class="loader"> </span>
            <div class="error" style="display:none">
                <span>Something went wrong!</span><br>
                <div class="btn btn-sm btn-danger text text-white">Close</div>

            </div>
        </div>
    </div>

    <!-- admin tool  -->
    <div class="admin-tool-container">
        <div class="close open">
            Show
        </div>
        <div class="admin-tool-content">
            <div class="tool-one">

                <div class="form-group">



                    <select class="form-control" id="align-canvas">
                        <option active>Align to Canvas</option>

                        <option id="horizontal">Horizontal</option>
                        <option id="vertical">Vertical</option>
                        <option id="center">Center</option>


                    </select>
                </div>
                <hr>
                <div>
                    <label for="">Align Objects</label>
                    <div class="align-icon-container">
                        <img id="align_left" src="images/canvas/align_left.png" title="align-left" draggable="false"
                            alt="">
                        <img id="align_center" src="images/canvas/align_center.png" title="align-center"
                            draggable="false" alt="">
                        <img id="align-right" src="images/canvas/align_right.png" title="align-right" draggable="false"
                            alt="">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img id="align-bottom" src="images/canvas/align_bottom.png" title="align-bottom"
                            draggable="false" alt="">
                        <img id="align-middle" src="images/canvas/align_mid.png" title="align-middle" draggable="false"
                            alt="">
                        <img id="align-top" src="images/canvas/align_top.png" title="align-top" draggable="false"
                            alt="">

                    </div>
                </div>
                <hr>
                <div class="group">

                    <div title="group" id="group" class="folder-btn  ">&#128448;</div>
                    <div title="ungroup" id="ungroup" class="folder-btn  ">&#128449;</div>
                </div>
            </div>

            <div class="tool-two">
                <div class="object-name-container">
                    <label for="">Object name</label>
                    <input type="text" class="form-control" id="object-name">
                </div>

                <div class="btn btn-sm btn-primary lock" id="lock">&#x1F512;</div>


                <div id="duplicate">&#10064;</div>
                <div class="form-group d-flex  gap-10 ">
                    <label for=""> Image Quality 1</label>
                    <input id="image-quality" style="width:90px" class=" form-control" value="4" type="number">
                </div>

            </div>

        </div>
    </div>





</body>

<script>
    // let template_json = '';
    // let purchased_id = '';

    // let template_id = '';


    // let template_name = '';
    // let list = '';
    // let table = '';
    // let category = '';


    // let user_role = '';

    // if ("serviceWorker" in navigator) {
    //     window.addEventListener("load", () => {
    //         navigator.serviceWorker
    //             .register("service-worker.js")
    //             .then((registration) => {
    //                 console.log("Service Worker registered:", registration);
    //             })
    //             .catch((error) => {
    //                 console.log("Service Worker registration failed:", error);
    //             });
    //     });
    // }



</script>


</html>