<%- include('../include/header') %>

    <div class="account-container">
        <div class="account-content d-flex justify-content-between  bg-light align-items-start">

            <div class="account-body d-flex justify-content-start flex-direction-column gap-20 align-items-start ">

                <h3 class="">Your Account</h3>

                <% user_data.forEach((data)=>{%>
                    <div class="d-flex justify-content-start gap-10">
                        <img src="images/username.png" width="19" alt="" class="" />

                        <p>Username: <span id="db_user_name">
                                <%= data.user_name %>
                            </span>
                        </p>

                    </div>
                    <div class="d-flex justify-content-start gap-10 ">
                        <img src="images/email-black.png" width="20" alt="" class="" />
                        <p>Email: <span id="db_user_email">
                                <%= data.user_email %>
                            </span>
                        </p>
                    </div>

                    <% }) %>

            </div>
            <div class="d-flex justify-content-end align-items-end">

                <img id="modal-btn" src="images/edit.png" width="19" alt="" class="" />
            </div>
        </div>
        <div id="my-modal" class="modal ">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <span class="close">&times;</span>
                    <h2>Update Account</h2>
                </div>
                <div style="height: 23px;" class="bg-white">
                    <div id="success-message" class="bg-success text text-center d-none  opacity-8">
                        <span class="">Changes Save</span>

                    </div>
                </div>

                <div class="modal-body ">


                    <form action="" class="form   d-flex  flex-direction-column align-items-start gap-10">


                        <div class="d-flex flex-direction-column align-items-start">
                            <label for="edit-user-name">Username</label>
                            <input type="text" id="edit-user-name">
                            <small style="height: 10px;" class="text text-danger" id="user_name_error"></small>
                        </div>
                        <div class="d-flex flex-direction-column align-items-start">
                            <label for="edit-user-email">Email</label>
                            <input type="text" id="edit-user-email">
                            <small style="height: 10px;" class="text text-danger" id="user_email_error"></small>

                        </div>
                    </form>

                </div>
                <div class="modal-footer bg-white d-flex justify-content-end">

                    <span id="update-btn" class="btn btn-sm btn-primary ">Update</span>
                </div>
            </div>
        </div>
        <div class="account-purchase-details d-flex justify-content-between gap-20 bg-light align-items-start   my-2">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iure ipsa iste cupiditate odit sapiente
                labore voluptatum ut officia quisquam.
            </div>
        </div>
    </div>

    <%- include('../include/footer') %>