<%- include('../include/header') %>

    <div class="account-container">
        <div class="account-content d-flex justiy-content-start flex-direction-column bg-light align-items-start">
            <div class="account-body d-flex justify-content-start flex-direction-column gap-20 align-items-start my-2">
                <h3 class="">Your Account</h3>
                <div class="d-flex justify-content-start gap-10">
                    <img src="images/username.png" width="19" alt="" class="" />
                    <p>Username: andz89</p>
                </div>
                <div class="d-flex justify-content-start gap-10 ">
                    <img src="images/email-black.png" width="20" alt="" class="" />
                    <p>email: andz89@gmail.com</p>
                </div>



            </div>
        </div>
    </div>

    <%- include('../include/footer') %>