<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quirk Client Side</title>

    <link rel="stylesheet" href="/style/main.min.css" />



</head>

<body>


    <div class="modal-loader"></div>


    <div id="createCanvasModal"></div> <!-- create modal form to create canvas -->

    <header>

        <div class="file_name_container">
            <div> File Name: <span id="file_name"></span> </div>
        </div>

        <div class="sub_header d-flex align-items-center ">

            <div class="dropdown dropdown-files files-container">
                <li class="dropbtn dropbtn-files files-btn">Files</li>
                <div id="myDropdown" class="dropdown-content">
                    <a id="save_json">Save</a>
                    <a id="preview-image">loop Name</a>


                    <a href="index.html" target="_blank">New Tab</a>

                </div>
            </div>



            |
            <div class="order">

                <img id="bringToFront_object" src="images/canvas/order_up.png" title="bring to front" draggable="false"
                    alt="">
                <img id="bringToBack_object" src="images/canvas/order_down.png" title="bring to back" draggable="false"
                    alt="">

            </div>
            |
            <div>
                <img id="align_left" src="images/canvas/align_left.png" title="align-left" draggable="false" alt="">
                <img id="align_center" src="images/canvas/align_center.png" title="align-center" draggable="false"
                    alt="">
                <img id="align-right" src="images/canvas/align_right.png" title="align-right" draggable="false" alt="">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img id="align-bottom" src="images/canvas/align_bottom.png" title="align-bottom" draggable="false"
                    alt="">
                <img id="align-middle" src="images/canvas/align_mid.png" title="align-middle" draggable="false" alt="">
                <img id="align-top" src="images/canvas/align_top.png" title="align-top" draggable="false" alt="">

            </div>
            |

            <div class="align-canvas-container">
                <button class="btn btn-sm btn-primary  align-canvas">
                    Align to canvas

                </button>
                <div class="align-canvas-buttons-container ">
                    <div id="horizontal">Horizontal</div>
                    <div id="vertical">Vertical</div>
                    <div id="center">Center</div>

                </div>

            </div>
            <div>
                <button id="add_name_btn" class="btn btn-sm btn-light">View Data</button>
            </div>
        </div>

        <div class="zoom_and_undo_container">


            <div class="zoom-container">
                <button id="zoomOut">&#9866;</button>
                VIEW
                <button id="zoomIn">&#10010; </button>
            </div>


        </div>


    </header>
    <!-- insert name -->
    <span class="excel-html" style="display: none;"></span>
    <div class="list-name-container">
        <div class="modal-header d-flex justify-content-start  bg-dark">

            <div>
                <div class="btn btn-sm btn-primary add-rows">+ Add Rows</div>
            </div>

            <div class=" swap-column d-flex justify-content-center gap-10 align-items-center btn btn-sm btn-primary">
                <img src="images/canvas/swap.png" width="15" alt="" class="swap-column">
                Swap Column



            </div>
            <div>
                <div class="btn btn-sm btn-primary clear-all">Clear rows</div>
            </div>

        </div>
        <div class="modal-content">

            <div class="textarea-container">
                <textarea class=""
                    placeholder="paste here the copied column data from excel or google spreadsheet"></textarea>

            </div>

            <div class="menu-controller d-flex justify-content-start">
                <div style="width: 300px;">Column 1</div>
                <div>Column 2</div>
            </div>

            <div class="list-names">

            </div>




        </div>
        <div class="modal-footer d-flex justify-content-end">
            <div class="btn btn-sm btn-dark save">
                Save and close
            </div>
        </div>
    </div>


    <!-- choose colum -->

    <div class="choose-columm-container">
        <div class="modal-content form">
            <div class="modal-footer">

                <div class="btn btn-sm btn-primary text text-center close">
                    <h3 style="width: 100px;">Close</h3>
                </div>

            </div>
            <div class="custom-select" style="width:200px;">
                <select>
                    <option value="0">Select Column:</option>
                    <option value="column-1">Column 1</option>
                    <option value="column-1">Column 2</option>

                </select>
            </div>


        </div>

    </div>




    <div id="alert-header"></div>
    <main>

        <div id="canvas-background" class="canvas-container">


            <input type="file" name="myFile" class="drop-zone__input" style="display: none">


        </div>

        <div class="canvas-tools-container">



            <div class="box-tools-container">
                <div id="box-properties-tools" class="active">

                    <div class="top-icons">
                        <ul>
                            <li title="duplicate" id="duplicate" class="duplicate-btn">&#10064;</li>

                            <li title="group" id="group" class="folder-btn  ">&#128448;</li>
                            <li title="ungroup" id="ungroup" class="folder-btn  ">&#128449;</li>
                            <li id="trim-image"><img src="./images/canvas/crop.png" width="23" alt=""></li>
                        </ul>
                    </div>


                    <!-- style - arrange -crop tab -->
                    <div class="box-properties-tab">

                        <div class="style-container ">
                            <div class="fonts_and_text-center">
                                <div class="fonts-Select-size">
                                    <select id="fontFamilySelect" class="fontFamilySelect  "></select>
                                    <input type="number" value="18" id="fontSize"><br>

                                </div>
                                <div class="text-style-align">
                                    <!-- color -->
                                    <label for="color"> <img id=""
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4LjMxIDEwLjA3Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZvbnQtc2l6ZTo5LjAzcHg7ZmlsbDojZmZmO2ZvbnQtZmFtaWx5OkFyaWFsUm91bmRlZE1UQm9sZCwgQXJpYWwgUm91bmRlZCBNVCBCb2xkO30uY2xzLTJ7ZmlsbDojMDBhOTlkO308L3N0eWxlPjwvZGVmcz48dGl0bGU+Y29sb3IgaWNvbjwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48dGV4dCBjbGFzcz0iY2xzLTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuOTEgNy44KSI+QTwvdGV4dD48cmVjdCBjbGFzcz0iY2xzLTIiIHk9IjguNDUiIHdpZHRoPSI4LjMxIiBoZWlnaHQ9IjEuNjEiIHJ4PSIwLjM5Ii8+PC9nPjwvZz48L3N2Zz4="
                                            width="15" alt="">
                                    </label>
                                    <input type="color" id="color" class="color  " value="#008080">

                                    <!-- color -->
                                    <label id="bold"> <img class=" "
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjMzIDguNTgiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+QXNzZXQgMTA8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8zIiBkYXRhLW5hbWU9IkxheWVyIDMiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTS4zMywxMC4zMnYtMWwuOTEtLjE4VjNMLjMzLDIuNzh2LTFINC4xNGE0LjA5LDQuMDksMCwwLDEsMi4zNi41OSwyLDIsMCwwLDEsLjg1LDEuNzZBMS44OSwxLjg5LDAsMCwxLDcsNS4xNmExLjk0LDEuOTQsMCwwLDEtLjkyLjcsMi4wOCwyLjA4LDAsMCwxLC44Ni40LDEuNjMsMS42MywwLDAsMSwuNTEuNjgsMi4xMywyLjEzLDAsMCwxLC4xNy44OCwyLjI0LDIuMjQsMCwwLDEtLjgxLDEuODcsMy42OCwzLjY4LDAsMCwxLTIuMy42M1pNMyw1LjM0SDQuMmExLjcxLDEuNzEsMCwwLDAsMS4wNi0uMjksMSwxLDAsMCwwLC4zNy0uODIsMSwxLDAsMCwwLS4zNy0uODgsMS44MywxLjgzLDAsMCwwLTEuMTItLjI4SDNaTTMsOUg0LjU1YTEuNTksMS41OSwwLDAsMCwxLS4zQTEuMDgsMS4wOCwwLDAsMCw2LDcuODJhMS42NiwxLjY2LDAsMCwwLS4xNC0uNzEsMSwxLDAsMCwwLS40MS0uNDQsMS42OCwxLjY4LDAsMCwwLS43Mi0uMTRIM1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0wLjMzIC0xLjc0KSIvPjwvZz48L2c+PC9zdmc+"
                                            width="13" alt="">
                                    </label>

                                    <!-- italic -->
                                    <label id="italic">
                                        <img class=" "
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1LjIgOC43NiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNjY2M7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5pdGFsaWM8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl80IiBkYXRhLW5hbWU9IkxheWVyIDQiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTUuMjEsMi43NEM0LjA4LDIuODMsNCwyLjkxLDMuNzksMy44OUwyLjcxLDkuNTRjLS4yLDEtLjA4LDEuMTIsMSwxLjJsLS4wNy4zOEguMDlsLjA5LS4zOGMxLjA5LS4xLDEuMjEtLjE5LDEuNDEtMS4yTDIuNjgsMy44OWMuMTktMSwuMDgtMS4wNi0xLjA1LTEuMTVsLjA4LS4zOEg1LjNaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC4wOSAtMi4zNikiLz48L2c+PC9nPjwvc3ZnPg=="
                                            width="8" alt="" />
                                    </label>
                                    <label id="sentence-case">
                                        <img class=" " src="images/canvas/case.png" width="18" alt="" />
                                    </label>
                                    <!-- alignLeftText -->
                                    <label id="alignLeftText">
                                        <img class=" "
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4LjAzIDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+bGVmdDwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzYiIGRhdGEtbmFtZT0iTGF5ZXIgNiI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIwLjAzIiB3aWR0aD0iOCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yOCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNCIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjEuOTMiIHdpZHRoPSI1Ljk3IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI0Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB5PSI2LjM4IiB3aWR0aD0iNS43NiIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjwvZz48L2c+PC9zdmc+"
                                            width="15" alt="" />
                                    </label>

                                    <!-- alignCenterText -->
                                    <label id="alignCenterText">
                                        <img class=" "
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+Y2VudGVyXzE8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJjZW50ZXIiPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjQiIHdpZHRoPSI4IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI4Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIxLjEzIiB5PSIxLjkzIiB3aWR0aD0iNS43NCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMS4yMyIgeT0iNi4zOCIgd2lkdGg9IjUuNTMiIGhlaWdodD0iMC45MSIgcng9IjAuMjMiLz48L2c+PC9nPjwvc3ZnPg=="
                                            width="15" alt="" />
                                    </label>
                                    <!-- alignRightText -->
                                    <label id="alignRightText">
                                        <img class=" "
                                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDcuMjkiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojY2NjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+cmlnaHQ8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJyaWdodCI+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iOCIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yOCIvPjxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNCIgd2lkdGg9IjgiIGhlaWdodD0iMC45MSIgcng9IjAuMjgiLz48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjIuMDMiIHk9IjEuOTMiIHdpZHRoPSI1Ljk3IiBoZWlnaHQ9IjAuOTEiIHJ4PSIwLjI0Ii8+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIyLjI0IiB5PSI2LjM4IiB3aWR0aD0iNS43NiIgaGVpZ2h0PSIwLjkxIiByeD0iMC4yNCIvPjwvZz48L2c+PC9zdmc+"
                                            alt="" width="15" />
                                    </label>

                                </div>

                            </div>
                            <!-- fill-tools -->

                            <div class="fill-tools-container">
                                <span>Fill Color</span>
                                <div class="fill-tools-list">
                                    <div class="fill-color">
                                        <label class="fill-icon" for="shapeFill">
                                            <input type="color" id="shapeFill" value="#d6d6d6" class="shape-color  ">
                                        </label>
                                    </div>

                                    <div id="removeColor" class="remove-color">

                                        <img src="images/canvas/transparent.png" title="transparent" draggable="false"
                                            alt="">
                                    </div>
                                </div>

                            </div>
                            <!-- stroke -->
                            <div class="stroke-container">
                                <label>Stroke</label>
                                <input type="color" id="strokeColor" value="#059797">
                                <span class="label-range"><label>Width </label>
                                    <span class="input-range"> <strong>-</strong> <input id="strokeWidth" max="200"
                                            type="range"><strong>+</strong> </span> </span>
                            </div>



                        </div>
                        <div class="crop-container">





                        </div>
                        <!-- canvas optins -->
                        <div class="canvas-contain">
                            <li class="canvas-option-background">
                                <label>Background</label>
                            </li>
                            <li>
                                <input id="canvas_background" value="#008080" type="color">

                            </li>
                            <li>
                                <img id="transparent" src="images/canvas/transparent.png" title="align-top"
                                    draggable="false" alt="">
                            </li>
                        </div>


                    </div>
                </div>
                <div id="box-insert-tools">

                    <li id="insert-text-btn" class="dropbtn-insert-text">Insert Text</li>
                    <li id="upload_image">Insert Image</li>
                    <div class="insert-shape">
                        <div class="dropdown dropdown-files insert-shape-div">
                            <li class="dropbtn dropbtn-files">Shape</li>
                            <div id="myDropdown" class="dropdown-content">
                                <a id="square"> Square</a>
                                <a id="circle">Circle</a>
                                <a>Rectangle</a>

                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>


    </main>

    <div id="modal-container" class="modal-canvas">
        <div class="modal-content">
            <div class="modal-header">

                <h2>Preview</h2>
                <div class="close-container">
                    <div id="download_as_Zip">
                        Download
                    </div>
                    <a id="printCanvas">Print</a>
                    <div>
                        <span class="close">Close</span>

                    </div>

                </div>
            </div>
            <div class="modal-body">

            </div>


        </div>
    </div>
    <!-- loader -->
    <div class="lds-spinner-container d-flex justify-content-center align-items-center ">
        <span class="loader">Loading Please wait</span>
    </div>


    <script src="javascript/canvas/library/jszip-utils.min.js"></script>


    <script src="javascript/canvas/library/jszip.min.js"></script>

    <script type="module" src="javascript/canvas/main.js"></script>
    <script src="javascript/canvas/library/fabric.js"></script>
    <script src="javascript/canvas/library/fonts.js"></script>

    <script>
        let template_json = '<%-template_json%>';
        let template_id = '<%-template_id%>';
    </script>

    <script src="javascript/canvas/test.js"></script>
</body>

</html>