<%- include('../include/user-header') %>


  <div class="contact-container">
    <div class="contact-content d-flex justiy-content-start flex-direction-column bg-dark lign-items-start">
      <div class="contact-body d-flex justify-content-start flex-direction-column gap-20 align-items-start my-2">
        <span class="">Contact Us</span>
        <div class="d-flex justify-content-start gap-10">
          <img src="images/phone.png" width="19" alt="" class="" />
          <p>Phone: 0995 - 648 - 4850</p>
        </div>
        <div class="d-flex justify-content-start gap-10 my-1">
          <img src="images/email.png" width="20" alt="" class="" />
          <p>email: quirktool@gmail.com</p>
        </div>
        <div class="d-flex justify-content-start gap-10">
          <img src="images/fb.png" width="20" alt="" class="" />
          <p>Facebook: facebook/quirktool</p>
        </div>

        <div class="d-flex justify-content-start gap-10">
          <img src="images/location.png" width="22" alt="" class="" />
          <p>Location: Surigao City, Surigao del Norte, Philippines</p>
        </div>
      </div>
    </div>
  </div>