<%- include('../include/user-header') %>
  <div class="home-dashboard">
    <div class="my-4 d-flex justify-content-center align-items-start   gap-10 landing-container"
      style="min-height:800px">
      <div class="landing-message">
        <img src="images/quirk-logo.png" width="45" alt="">
        <h3 class="text text-dark">Quirktool</h3>

        <br>
        <p class="text text-dark">Hello <b class="text text-primary">
            <%= user %>
          </b> , welcome to our Quirk App.</p>
      </div>

    </div>
  </div>






  <%- include('../include/footer') %>