<%- include('../include/user-header') %>

  <!-- header ends here -->
  <div class="d-flex justify-content-center"></div>

  <div class="landing p-3">

    <div class="landing-inner">

      <p class="lead">Hello <%= user_data.user_name %>, welcome to our Quirk App.</p>
      <p class="lead">Easy Editable Template and Print!</p>


      <p class="">
        Your feed displays the latest posts from the people you follow. If you
        don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the
        &ldquo;Search&rdquo; feature in the top menu bar to find content written
        by people with similar interests and then follow them.
      </p>
    </div>
  </div>



  <%- include('../include/footer') %>