<%- include('../include/user-header') %>


  <div class="landing  ">
    <div class="landing-inner">
      <div class="guest-message-container">
        <h1 class="">Remember Writing?</h1>
        <p class="">
          Are you sick of short tweets and impersonal &ldquo;shared&rdquo; posts
          that are reminiscent of the late 90&rsquo;s email forwards? We believe
          getting back to actually writing is the key to enjoying the internet
          again.
        </p>
      </div>
    </div>
  </div>

  <%- include('../include/footer') %>