<%- include('../include/user-header') %>


  <div class="landing-page" style="min-height:800px">
    <div class="d-flex justify-content-center align-items-center flex-direction-column gap-10 landing-container"
      style="min-height:300px">
      <div class="landing-message">
        <img src="images/quirk-logo.png" width="45" alt="">
        <h1 class="text text-primary">Quirktool</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

    </div>


  </div>



  <%- include('../include/footer') %>