<%- include('../include/user-header') %>

  <div class="bg-white">

    <div class="d-flex justify-content-center flex-direction-column form-container bg-white" style="min-height:420px">

      <h1 class="text text-primary">Quirktool</h1>

      <div style="height: 10px">
        <% if(locals.errors){ %>

          <div class="text text-center text-danger">
            <small>
              <%= errors %>
            </small>
          </div>

          <% } %>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <a href="/auth/facebook" class="text text-dark">
          <div class="btn btn-md btn-light d-flex justify-content-center align-items-center gap-10">
            <img src="images/fb-login.png" width="35" alt="">
            Sign in with Facebook
          </div>
        </a>
      </div>

    </div>
  </div>
  <%- include('../include/loader') %>

    <%- include('../include/footer') %>